.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.layout_style {
    min-height: 100vh;
}

.primaryBtn {
    margin-right: 20px;
}

.footer {
    background-color: blueviolet;
    text-align: center;
}